h3 {
  margin-bottom: -18px;
}
p {
  font-size: 15px;
}

.box-style {
  box-shadow: 1px -1px 12px 0px #c9c9c9;
  padding-left: 25px;
  padding-top: 2px;
  min-width: 1000px;
  transition: background-color 0.2s;
}

.box-style:hover {
  background-color: #ebebeb;
}

h1 {
  margin-bottom: -20px !important;
  /* border: 1px solid purple; */
  text-align: center;
}
.error-style {
  box-shadow: 1px -1px 12px 0px purple;
  padding-left: 25px;
  margin-top: 60px;
  padding-top: 2px;
}
a:hover {
  text-decoration: none;
}
