[submodule "iudx-voc"]
	path = iudx-voc
	url = https://github.com/datakaveri/iudx-voc.git
[submodule "user-contrib-models"]
	path = user-contrib-models
	url = https://github.com/datakaveri/user-contrib-models.git
[submodule "frontend"]
	path = iudx-voc-ui
	url = https://github.com/datakaveri/iudx-voc-ui.git
[submodule "agri-voc"]
	path = agri-voc
	url = git@github.com:datakaveri/agri-voc.git
