target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
config/*.jks
config/vocserver.json
config/vocserver_local.json
config/rakshitr@iisc.ac.in-class-1-certificate.pem
