[submodule "iudx-voc"]
	path = iudx-voc
	url = https://github.com/datakaveri/iudx-voc.git
[submodule "user-contrib-models"]
	path = user-contrib-models
	url = https://github.com/datakaveri/user-contrib-models.git
[submodule "ui"]
	path = ui
	url = https://github.com/datakaveri/dk-voc-ui.git
