<section id="overview" class="container section">
  <div id="mainContent">
    <table id="overviewList" class="definition-table">
      <thead>
        <tr>
          <th>Class</th>
          <th>&nbsp;</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="classSchema">
        <tr *ngFor="let class of classes | async">
          <th>{{ class.label }}</th>
          <td></td>
          <td>{{ class.comment }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
