<div class="jumbotron container content">
  <h1>IUDX Vocabulary</h1>
  <p>
    voc.iudx.org.in is a shared vocabulary that details schemas for structured
    data exchange via IUDX data exchange APIs. The creation and maintenance of
    voc.iudx.org.in schemas is intended to be a collaborative activity.
  </p>
  <p>
    A shared vocabulary along with a data exchange standard has the potential to
    enable data interoperability, functional extensibility and information
    exchange across silos (application verticals, city departments etc.).
    Further, shared vocabulary allows intelligent applications and data
    consumers to understand semantic meaning of attributes and entities
    entailing the IUDX specification.
  </p>
</div>
<hr />
<app-footer></app-footer>
