<section id="category_section" class="container">
  <div id="mainContent">
    <p class="para-heading">IUDX Entities</p>
    <p style="text-align: center;">
      &nbsp; &nbsp; Check out :
      <a routerLink="/list/classes">Browse All Types</a>&nbsp;
      <a routerLink="/list/properties">Browse All Properties</a>
    </p>
    <br />
    <div style="align-items: center;">
      <a style="cursor: pointer;">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i style="color: greenyellow;" class=""></i>
            </div>
            <mat-card-title>ResourceGroup</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <hr />
          <mat-card-content>
            <p>
              Describes the Resource Group entry in the IUDX catalogue.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Show More</button>
          </mat-card-actions>
        </mat-card>
      </a>

      <a style="cursor: pointer;">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i style="color: greenyellow;" class=""></i>
            </div>
            <mat-card-title>Resource</mat-card-title>

            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <hr />

          <mat-card-content>
            <p>
              Describes the Resource entry in the IUDX catalogue.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Show More</button>
          </mat-card-actions>
        </mat-card>
      </a>

      <a style="cursor: pointer;">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i style="color: blue;" class=""></i>
            </div>
            <mat-card-title>Thing</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <hr />

          <mat-card-content>
            <p>
              Most generic IUDX object.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Show More</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i style="color: green;" class=""></i>
            </div>
            <mat-card-title>IUDXEntity</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <hr />
          <mat-card-content>
            <p>
              Class of all IUDX Entities (Resource, ResourceServer, Provider
              etc.)
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Show More</button>
          </mat-card-actions>
        </mat-card>
      </a>
    </div>
  </div>
</section>
