#mainContent {
  border-bottom: solid 1px #cccccc;
}
.example-card {
  max-width: 400px;
  display: inline-block;
  margin: 20px;
  min-width: 400px;
}

.example-header-image {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); */
  background-size: cover;
}
.para-heading {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
.h-heading {
  /* font-size: 24px; */
  font-weight: 600;
}

button {
  margin-left: 35%;
  background-color: maroon;
  color: white;
  border-radius: 7px;
  border: none;
}

p a:link,
p a:visited {
  color: maroon;
}
p a:hover {
  text-decoration: underline;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
}
ul > a {
  cursor: pointer;
  color: maroon;
}
