.example-card {
  /* max-width: 400px; */
  width: 40%;
  display: inline-block;
  /* margin: 20px; */
  min-width: 400px;
  margin-left: 3px;
  background-color: #bfefff;
}

.example-header-image {
  background-size: cover;
}
.para-heading {
  font-size: 26px !important;
}

button {
  margin-left: 35%;
  /* background-color: #3a4956; */
  background-color: #003f87;
  color: white;
  border-radius: 7px;
  border: none;
}
i {
  color: green;
}

mat-card {
  margin-bottom: 50px;
  margin-right: 100px;
  align-items: center;
}
img {
  width: 30px;
}
.para-style p {
  margin-top: -10px;
}
