<section id="category_section" class="container content">
  <h1 class="para-heading">IUDX DataModel Domains</h1>

  <br />
  <br />
  <div class="card-container">
    <mat-card
      [ngStyle]="{ 'background-color': getColors(0) }"
      *ngFor="let model of datamodels | async; let i = index"
      [ngSwitch]="model.label"
      class="example-card"
    >
      <mat-card-header>
        <div
          *ngSwitchCase="'WasteManagement'"
          mat-card-avatar
          class="example-header-image"
        >
          <i
            class="fa fa-trash fa-lg"
            style="color: darkgreen;"
            aria-hidden="true"
          ></i>
        </div>
        <div
          *ngSwitchCase="'Civic'"
          mat-card-avatar
          class="example-header-image"
        >
          <i
            class="fas fa-city fa-lg"
            aria-hidden="true"
            style="color: darkblue;"
          ></i>
        </div>
        <div
          *ngSwitchCase="'UrbanMobility'"
          mat-card-avatar
          class="example-header-image"
        >
          <i
            class="fas fa-shuttle-van fa-lg"
            aria-hidden="true"
            style="color: red;"
          ></i>
        </div>
        <div
          *ngSwitchCase="'Environment'"
          mat-card-avatar
          class="example-header-image"
        >
          <i class="fab fa-pagelines fa-2x"></i>
        </div>
        <div
          *ngSwitchCase="'StreetLight'"
          mat-card-avatar
          class="example-header-image"
        >
          <img
            style="color: yellow !important;"
            src="../../assets/streetlight.png"
          />
          <!-- <i
            class="fa fa-lightbulb-o fa-lg"
            aria-hidden="true"
            style="color: red;"
          ></i> -->
        </div>
        <div
          *ngSwitchDefault
          mat-card-avatar
          class="example-header-image"
        ></div>
        <mat-card-title
          ><strong>{{ model.label }}</strong></mat-card-title
        >
      </mat-card-header>
      <hr />

      <mat-card-content>
        <p>
          {{ model.comment }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button [routerLink]="['/', model.label]"> -->
        <button mat-button [routerLink]="['/datamodels', model.label]">
          More Details
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="para-style">
    <p>
      All the user contributed data-model descriptors can be found
      <a routerLink="/data-descriptors">here</a>
    </p>
  </div>
  &nbsp;
  <br />
</section>
