/* -------------------------------------------------
                General
--------------------------------------------------*/
body
{
color: #3A4956;
background: #FFF;
font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma, Arial, sans-serif;
line-height: 160%;
margin: 0;
padding: 0;
text-align: center;
}
code
{
font-family: Courier, monospace;
}
h1
{
font: bold 24px Helvetica, Arial, sans-serif;
color: #990000;
letter-spacing: -1px;
margin: 0.25em 0 0 0;
}

h2 {
/* border-top: 1px solid #990000; */
padding-top: 5px;
clear: both;
color: #990000;
font: normal 18px Helvetica, Arial, sans-serif;
margin: 2em 0 0 0;
}
h3 {
font-size: 12px;
color: #660000;
margin: 1em 0 0 0;
position: relative;
top: 8px;
}

h4
{
font-size: 100%;
margin: 0.5em 0 1em 0;
position: relative;
}
*/
hr
{
border: none;
height: 1px;
background: #ccc;
margin: 2em 0 4em 0;
}
p
{
margin: 1em 0 0 0;
}
pre
{
font-family: Courier, monospace;
font-size: 120%;
background: #E1E1E1;
width: auto;
padding: 5px 5px 5px 10px;
margin: 1em 0 0 0;
text-align: left;
overflow: auto;
}

/* -------------------------------------------------
                Page Section
--------------------------------------------------*/
#container
{
width: 100%;
text-align: left;
margin: 0;
background: #fff;
}
#intro
{
position: relative;
}
#mainContent,#mainContent1,#mainContent2
{
border-bottom: solid 1px #CCCCCC;
text-align: left;
}
#footer
{
text-align: center;
/* font-size: x-large; */
 font-size: 15px;  
}
#mainContent,#mainContent1,#mainContent2, #footer, .wrapper {
  margin: 0 auto !important;
  padding: 0 0.5em;
}


#sitename {
    max-width: 500px;
    min-width: auto;
    display: inline-block;
    text-shadow: 0 2px 0 #0d1f50;
    padding: 0;
    top: 25px;
    left: -40px;
}


/* -------------------------------------------------
                Header/Title
--------------------------------------------------*/

#pageHeader
{
width: 100%;
height: 90px;
background: #005c99;
}
#pageHeader h1
{
color: #fff;
margin: 0;
padding-top: 25px;
font: bold Helvetica, Arial, sans-serif;
letter-spacing: -1px;
text-shadow: 0 2px 0 #001a51;
}
#pageHeader a:link, #pageHeader a:hover, #pageHeader a:visited
{
color: #fff;
background-color: #005c99;
text-decoration: none;
}

#cse-search-form {
  float: right;
  margin-top:20px;
  width: 255px !important;
}
@media all and (max-width: 720px) {
  #pageHeader {
    height: 120px;
  }
  #cse-search-form {
    margin-left: 15px;
    margin-top: 20px;
  }
}

/* -------------------------------------------------
                NavBar
--------------------------------------------------*/
#selectionbar
{
color: #fff;
height: 46px;
background: #12064b;
font-size: 90%;
height: 5.5vh;
}
#selectionbar ul
{
  float: right;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}
#selectionbar li
{
display: inline;
list-style: none;
}
#selectionbar a:link, #selectionbar a:visited
{
color: #fff;
display: block;
float: right;
padding: 1px 9px 3px 6px;
margin: 0 6px;
text-decoration: none;
}
#selectionbar a:hover
{
color: #FFEE99;
background-color: transparent;
}
#selectionbar .activelink a
{
background: #005c99;
}
#selectionbar .activelink a:hover
{
color: #fff;
background-color: #005c99;
cursor: default;
}
/* -------------------------------------------------
                main content
--------------------------------------------------*/
#mainContent,#mainContent1,#mainContent2
{
font-size: 100%;
}
#mainContent ul li,#mainContent1 ul li,#mainContent2 ul li
{
list-style: inherit;
padding: 0 0 0 5px;
margin: 0;
}
a:link
{
color: #660000;
text-decoration: none;
border-bottom: dotted 1px #660000;
}
a:visited
{
color: #990000;
text-decoration: none;
border-bottom: dotted 1px #990000;
}
a:hover
{
border-bottom: none;
color: #fff;
background-color: #660000;
text-decoration: none;
}
#mainContent blockquote,#mainContent1 blockquote,#mainContent2 blockquote
{
padding: 0 0 0 15px;
margin: 10px 0 10px 15px;
width: auto;
float: right;
border-left: thin dotted #000;
}

/* -- types -- */
table.definition-table
{
margin: 1em 0 0 0;
border: 1px solid #98A0A6;
}
.definition-table th
{
text-align: left;
background: #C7CBCE;
padding-left: 5px;
}
.definition-table td
{
padding: 0 5px 2px 5px;
margin: 0;
vertical-align: top;
}
.definition-table td p
{
padding: 0 0 .6em 0;
margin: 0;
}
.definition-table td ul
{
padding-top: 0;
margin-top: 0;
}
.definition-table tr.alt
{
background: #E9EAEB;
}
div.attrib
{
padding-bottom: 1em;
}

/* -- hierarchy -- */
table.h, .h tr, .h td
{
border: none;
margin: 0;
padding: 0;
border-collapse: collapse
}
.h .space
{
width: 20px
}
.h .bar
{
background-color: #000;
width: 1px
}
.h .tc
{
text-indent: -21px;
padding-left: 21px
}

table.definition-table {
    border-spacing: 3px;
    border-collapse: separate;
  }

  /* Footer */
  @media (max-width: 640px) {
    table.definition-table th, table.definition-table td {
      display: inline-block;
    }
    table.definition-table br {
      display: none;
    }
  }
  
  @media (min-width: 960px) {
    #mainContent, #footer, .wrapper {
      max-width: 960px;
      padding: 0 1em 1em 1em
    }
  }

  /* #schema_class_section,#schema_property_section{
    display: none;
  } */