<section id="descriptor_details_section" class="container content">
  <h1>List of Data Descriptors for Data Model</h1>
  <br />

  <br />
  <ul>
    aqiMajorPollutant
    <li>type: ValueDescriptor</li>
    <li>description: Major pollutant in the AQI index</li>
    <li>dataSchema: Text</li>
    <li>
      CO
      <ul>
        <li>
          description: Describes instantaneous and/or aggregated values for
          carbon monooxide(CO)
        </li>
        <li>
          avgOverTime:
          <ul>
            <li>
              type: ValueDescriptor
            </li>
            <li>
              description: Average value of CO for the last 24 hours
            </li>
            <li>
              unitText: part per million (ppm)
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>
