<section id="descriptor_details_section" class="container content">
  <h1>Descriptor: {{ value }}</h1>
  <br />
  <ngx-json-viewer
    id="
  #json_view"
    [json]="details | async"
  ></ngx-json-viewer>

  <!-- <ngx-json-viewer
    [json]="details | async"
    [expanded]="false"
  ></ngx-json-viewer> -->

  <!-- <ul *ngFor="let item of resultKeys">
    {{
      item
    }}
    <div *ngFor="let val of resultValues">
      <li>type: {{ val.type }}</li>
      <li>description: {{ val.description }}</li>
      <li>unitCode: {{ val.unitCode }}</li>
      <li>
        unitText : {{ val.unitText }}
        <!-- <ul>
        <li>
          description: Describes instantaneous and/or aggregated values for
          carbon monooxide(CO)
        </li>
        <li>
          avgOverTime:
          <ul>
            <li>
              type: ValueDescriptor
            </li>
            <li>
              description: Average value of CO for the last 24 hours
            </li>
            <li>
              unitText: part per million (ppm)
            </li>
          </ul>
        </li>
      </ul> -->
  <!-- </li>
      <li>dataSchema : {{ val.dataSchema }}</li>
    </div> 
  </ul> -->
</section>
