<section id="schema_class_section" class="container section">
  <div id="mainContent">
    <table id="schema_section" class="definition-table">
      <thead>
        <tr>
          <th>Class</th>
          <th>&nbsp;</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="classSchema">
        <tr *ngFor="let classes of classData; let i = index">
          <th>{{ classes }}</th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
