a:link,
a:visited {
  /* color:#0d1f50; */
  color: #003f87;
  /* text-decoration: none; */
  border-bottom: dotted 1px #003f87;
  transition: color 0.2s;
}
a:hover {
  border-bottom: none;

  /* background-color: gray; */
  color: #660000;
  background-color: transparent;
  text-decoration: none;
}
table thead {
  background-color: #c7cbce;
}
.table {
  width: 115%;
}
