h1 {
  color: #003f87 !important;
}
table {
  min-width: 1000px;
}
thead > tr {
  color: var(--white);
  background-color: #4981ce;
}
tbody > tr:nth-child(odd) {
  background-color: #bfefff !important;
}
.list-style a:link,
.list-style a:visited {
  color: #2c2c2c;
  border-bottom: dotted 1px #2c2c2c;
  transition: color 0.2s border-bottom 0.2s;
  text-decoration: none;
}
.list-style a:hover {
  border-bottom: none;
  color: maroon;
}

tbody > tr:nth-child(even) {
  background-color: var(--light);
}
