<section id="schema_prop_section" class="container">
  <div id="mainContent">
    <h1>{{ propname }}</h1>
    <h4>
      <span class="breadcrumbs">{{ type }}</span>
    </h4>
    <div>{{ comment }}</div>
    <table id="" class="definition-table">
      <thead>
        <tr>
          <th>Values expected to be one of these types</th>
        </tr>
      </thead>
      <tr>
        <td>
          <a></a>

          <br />
          <a></a>
        </td>
      </tr>
    </table>

    <table class="definition-table">
      <thead>
        <tr>
          <th>Used on these types</th>
        </tr>
      </thead>
      <tr>
        <td>
          <a></a>
          <br />
        </td>
      </tr>
    </table>
  </div>
</section>
