#form-search {
  position: absolute;
  top: 25px;
  left: 58%;
}
.btn:hover {
  background-image: none;
  background-color: grey;
  /* border-color: 1px solid green !important; */
}
.btn:link,
.btn:visited {
  background-color: green;
}
/* .item-style {
  color: black;
  text-decoration: none;
} */
