/* -------------------------------------------------
                  Button styles
  --------------------------------------------------*/
.btn {
  color: black;
  background-color: whitesmoke;

  border-color: #ad12c7;
  border-radius: 7px;
}

.btn:hover {
  background-image: none;
  background-color: #c0c0c0;
  /* border-color: 1px solid green !important; */
}
.btn:link,
.btn:visited {
  background-color: green;
}
/* .item-style {
  color: black;
  text-decoration: none;
} */

/* -------------------------------------------------
                  Link styles
  --------------------------------------------------*/

a:link,
a:visited {
  /* color: #660000; */
  color: #ffffff;
  text-decoration: none;
  /* border-bottom: dotted 1px #660000; */
}
a:hover {
  border-bottom: none;

  /* background-color: gray; */
  color: black;
  background-color: transparent;
  text-decoration: none;
}
/* a.nav-link {
  color: whitesmoke !important;
  transition: font-size 0.2s;
} */

/* -------------------------------------------------
                  Menu Link styles
  --------------------------------------------------*/
#menu-style a:link,
#menu-style a:visited {
  color: black;
  /* color: white; */
  text-decoration: none;
  /* border-bottom: dotted 1px #660000; */
  transition: color 0.2s;
}
#menu-style a:hover {
  border-bottom: none;

  /* background-color: gray; */
  color: #660000;
  background-color: transparent;
  text-decoration: none;
}
/* img */
.img-style {
  /* height: 9vh; */
  /* opacity: 2; */
}
#nav-style {
  background-image: linear-gradient(to right, #37fdfc, #f523d9) !important;

  padding: 10px 40px !important;
}
a.nav-link {
  color: darkslategray !important;
  /* color: darkslategray !important; */
  font-size: 18px;
  transition: font-size 0.2s background-color 0.2s border-radius 0.2s;
}

a.nav-link:hover {
  /* font-size: 23px !important; */
  background-color: whitesmoke;
  border-radius: 5px;

  /* color: black; */
}
a.navbar-brand {
  /* color: black; */
  color: dimgray;
  font-size: 28px;
  font-weight: 600;
  transition: color 0.2s;
}
.brand-active,
a.navbar-brand:hover {
  color: white !important;
}

/* -------------------------------------------------
                  Input Autocomplete styles
  --------------------------------------------------*/

input.mat-autocomplete-trigger {
  letter-spacing: 1px !important;
  padding-left: 10px !important;
  height: 4.5vh !important;
  border-radius: 7px !important;
  font-size: 15px !important;
  border: none;
}
/* Form */

form {
  display: inline;
}
