<!-- ***** Header Area Start ***** -->
<!-- <header> -->
<div id="container">
  <div id="intro">
    <div id="pageHeader">
      <div class="wrapper">
        <div id="sitename">
          <h1>
            <a href="https://voc.iudx.org.in/">IUDX | VOC </a>
          </h1>
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>

  <div id="selectionbar">
    <div class="wrapper">
      <ul>

        <li>
          <a href="#">Documentation</a>
        </li>

        <li>
          <a routerLink="/property">Property</a>
        </li>

        <li>
          <a routerLink="/classes">Classes</a>
        </li>

        <li>
          <a href="./">Home</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- </header> -->
  <!-- ***** Header Area End ***** -->
