a:link,
a:visited {
  /* color: #660000; */
  /* color: black; */
  /* color: #104e8b; */
  color: #0d1f50;
  text-decoration: none;
  /* border-bottom: dotted 1px #660000; */
}
a:hover {
  border-bottom: none;

  /* background-color: gray; */
  color: #660000;
  background-color: transparent;
  text-decoration: none;
}
.th-style {
  background-color: #c7cbce !important;
}
span {
  font-size: 20px;
}

.table td,
.table th {
  /* border-top: none; */
  /* border-bottom: 1px solid #dee2e6; */
}
/* h1 {
  font-size: 22px !important;
} */

.tbody-style {
  font-size: 16px;
  color: #0d1f50;
  display: table-cell;
  font-weight: bold;
}

.display-none {
  display: none !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
