<section id="schema_class_section" class="container">
  <div id="mainContent">
    <!--
    Render class table if class
  -->

    <div *ngIf="classView">
      <h1>
        {{ (classDetail | async)?.subclasses?.label }}
        <span *ngIf="(classDetail | async)?.subclasses?.label">&gt; </span>

        {{ (classDetail | async)?.baseClass.label }}
      </h1>
      <p>
        {{ (classDetail | async)?.baseClass.comment }}
      </p>
      <br />
      <table
        *ngIf="(classDetail | async)?.baseClass.properties.length != 0"
        class="table table-striped"
      >
        <thead>
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Expected Type</th>
            <th scope="col">Description</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let property of (classDetail | async)?.baseClass.properties"
          >
            <td>
              <a [routerLink]="['/', property.label]"
                ><ngb-highlight [result]="property.label"></ngb-highlight>
              </a>
            </td>
            <td>
              <a [routerLink]="['/', property.type[0]]"
                ><ngb-highlight [result]="property.type[0]"></ngb-highlight>
              </a>
              <br />
              <a [routerLink]="['/', property.type[1]]"
                ><ngb-highlight [result]="property.type[1]"></ngb-highlight>
              </a>
            </td>

            <td>
              <ngb-highlight [result]="property.comment"></ngb-highlight>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div *ngIf="classWithoutProperty">
      <h1>{{ (classDetail | async)?.baseClass.label }}</h1>
      <p>{{ (classDetail | async)?.baseClass.comment }}</p>
      <p>No Properties to show</p>
    </div> -->

    <!--
    Render property table if property
  -->
    <div *ngIf="propertyView">
      <h1>{{ (propertyDetail | async)?.label }}</h1>
      <p>
        {{ (propertyDetail | async)?.comment }}
      </p>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th class="th-style" scope="col">Expected values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td>{{ (propertyDetail | async)?.type }}</td> -->
            <td>
              <a [routerLink]="['/', ((propertyDetail | async)?.type)[0]]"
                ><ngb-highlight
                  class="table-margin"
                  [result]="((propertyDetail | async)?.type)[0]"
                ></ngb-highlight>
              </a>
              <br />
              <a [routerLink]="['/', ((propertyDetail | async)?.type)[1]]"
                ><ngb-highlight
                  [result]="((propertyDetail | async)?.type)[1]"
                ></ngb-highlight>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th class="th-style" scope="col">Used on these types</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let class of (propertyDetail | async)?.domains">
            <td>
              <a [routerLink]="['/', class]"
                ><ngb-highlight [result]="class"></ngb-highlight>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
