a:link,
a:visited {
  /* color: #660000; */
  /* color: black; */
  /* color: #104e8b; */
  color: #0d1f50;
  text-decoration: none;
  /* border-bottom: dotted 1px #660000; */
}
a:hover {
  border-bottom: none;

  /* background-color: gray; */
  color: #660000;
  background-color: transparent;
  text-decoration: none;
}
.table {
  width: 115%;
}
table thead {
  background-color: #c7cbce;
}
