<section id="schema_property_section" class="container section">
  <div id="mainContent1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties | async; index as i">
          <td>
            <a [routerLink]="['/', property.label]"
              ><ngb-highlight [result]="property.label"></ngb-highlight>
            </a>
          </td>

          <td>
            <ngb-highlight [result]="property.comment"></ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table id="schema_section" class="definition-table">
      <thead>
        <tr>
          <th>Property</th>
          <th>&nbsp;</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="propertySchema" class="supertype"></tbody>
      <tr *ngFor="let property of properties | async">
        <th>
          <a [routerLink]="['/', property.label]">{{
            property.label
          }}</a>
        </th>
        <td></td>
        <td>{{ property.comment }}</td>
      </tr>
    </table> -->
  </div>
</section>
