<section id="schema_property_section" class="container section">
  <div id="mainContent">
    <table id="schema_section" class="definition-table">
      <thead>
        <tr>
          <th>Property</th>
          <th>&nbsp;</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="propertySchema" class="supertype"></tbody>
      <tr *ngFor="let properties of propertyData; let i = index">
        <th>{{ properties.label }}</th>
        <td></td>
        <td>{{ properties.comment }}/td></td>
      </tr>
    </table>
  </div>
</section>
