.example-card {
  max-width: 400px;
  display: inline-block;
  /* margin: 20px; */
  min-width: 400px;
  margin-left: 3px;
  background-color: #bfefff;
}

.example-header-image {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); */
  background-size: cover;
}
.para-heading {
  /* text-align: center; */
  font-size: 26px;
  font-weight: 600;
}

button {
  margin-left: 35%;
  background-color: #3a4956;
  color: white;
  border-radius: 7px;
  border: none;
}
i {
  color: green;
}
